@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

body, #header, #projects-div {
    overflow-x: hidden;
}

#skills ul li:hover {
    box-shadow: 0 0 20px #c9cacb;
}

#projects {
    background-image: linear-gradient(to top, #111, #464646, #111);
}

.project-card {
    aspect-ratio: 17/9;
    max-width: 700px;
    background: white;
    background-size: cover;
    background-position: top center;
    box-shadow: 0px 0px 20px 5px #00000062;
}

#project1 {
    background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-trendz-login-img.png");
}

#project2 {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
}

#project3 {
    background-image: url("/images/matching_game.png");
}

#project4 {
    background-image: url("/images/rock\ paper\ scissors.png");
}

#project5 {
    background-image: url("/images/netflix.jpg");
}

#project6 {
    background-image: url("/images/microsoft.png");
}